<div class="item_component_foundation">
    <form (ngSubmit)="onItemSearch()" #searchForm="ngForm" class="search_box">
        <span class="search_prompt">Item Search:</span>
        <input
            [(ngModel)]="searchTerm"
            name="search"
            required
            placeholder="Search..."
        />
        <app-button type="submit" buttonText="Search"></app-button>
    </form>
    <section *ngIf="itemInfoList && itemInfoList.length > 0" class="results_section">
        <app-item-display-card
            *ngFor="let item of itemInfoList"
            [itemInfoData]="item">
        </app-item-display-card>
    </section>
</div>
