.app_button {
    width: min-content;
    height: fit-content;
    padding: 5px;
    display: flex;       // Enable flexbox inside the button
    justify-content: center; // Center content horizontally inside button
    align-items: center;     // Center content vertically inside button
    border-color: #3f5073;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    color: #313e59;
    background-color: #bdd9f2;
}

i.material-icons {
    font-size: 24px; /* Make sure the icon size is big enough to be visible */
}