div.display_foundation {
    display: block;
    padding: 1rem;

    .search_box {
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;
        margin-bottom: 1rem;

        span {
            color: #cbd9f4;
            white-space: nowrap;
            display: inline-block;
            font-size: 1rem;
            line-height: 2rem;
        }

        input, button {
            height: 2rem;
            line-height: 2rem;
            padding: 0 0.5rem;
            font-size: 1rem;
            border-radius: 10px;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}